html{
    scroll-behavior: smooth;
}
body{
    color: rgb(54, 54, 54);
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}
#hero{
    height:40vh;
    background: url('assets/heroimg1.webp');
    background-size:cover;
    position: sticky;
    top:0px;
    z-index: -1;
}
#hero>div{
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Great Vibes', 'Script Mt', cursive;
    letter-spacing: 3px;
    animation: fadeup 0.7s;
}
.t0, .t1, .t2{
 animation: fade-h2 3s  infinite;
 display:none;
}
.show{
    display:inherit;
}

#searchbox{
    display: flex;
    width: 80%;
    max-width: 800px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeup 0.5s 0.3s;
    gap: 15px;
}
.text--input{
    font-family: 'comfortaa', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    border-style: none;
    text-indent: 5px;
    height: 30px;
    padding:10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
    width: 100%;
}
.text--input:focus{
    outline: none;
    box-shadow: 0px 0px 5px rgb(0, 183, 255);
    transition: 0.2s;
}
#submit>img{
    width: 30px;
}
#submit{
    height:30px;
    border-radius: 30px;
    padding:10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.63);
}
#submit:hover{
    transition: 0.4s;
    scale:1.1;
}
#top{
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
}
h2{
    font-size: 2.6em;
    height:100px;
    width: 80%;
    text-align: center;
    margin-block: 50px;
}
#results{
    height: 100vh;
    background: white;
}
hr{
    width: 80%;
    height: 1px;
    background: rgb(160, 159, 159);
    border-radius: 2px;
}
#deck{
    display: grid;
    height:80%;
    width:80%;
    margin: 30px auto;
    gap: 20px;
    grid-template-columns: 46% 46%;
    grid-template-rows: 30% 30% 30%;
    justify-content: center;
    align-content: center;
}
.card{
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.678);
    border-radius:20px;
}
.big{
    grid-column-end: 3;
    grid-column-start: 1;
}
@keyframes fade-h2 {
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    25%{
        opacity: 1;
        transform: translateY(0px);
    }
    75%{opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-25px);
    }
}
@keyframes fadeup {
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
    }
}